@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #fafafa !important;
}

:root {
  --accent-line-color: blueviolet;
  --darker-accent-line-color: rgb(41, 16, 100);
  --placeholder-background: linear-gradient(90deg, rgb(116, 116, 116) 0%, rgb(116, 116, 116) 10%, rgb(170, 170, 170) 50%, rgb(116, 116, 116) 90%, rgb(116, 116, 116) 100%);
  --nav-color: linear-gradient(-135deg, #ff8a00, #da1b60);
  --darker-nav-color: linear-gradient(-135deg, #b66100, #941443);
  --profile-border-color: linear-gradient(135deg, #05c9cf 0%, hsl(46, 100%, 62%) 50%, hsl(328, 38%, 37%) 100%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff8a00, #da1b60);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #db7602, #aa164c);
}

.navbar {
  position: fixed !important;
  height: 60px;
  width: 101%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #ff8a00, #da1b60);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  z-index: 2;
  margin-bottom: 40p;
}

.navbar-hidden {
  transform: translateY(-100%);
  box-shadow: none;
  transition: 0.3s;
}

.menu-bars {
  font-size: 2rem;
  text-align: center;
}

.menu-bars.mainMenu div svg {
  padding: 6px 10px 6px 10px;
  border-radius: 50%;
}

.menu-bars.mainMenu div svg:hover {
  cursor: pointer;
  background: #14224d63;
  transition: .2s;
}

.nav-menu {
  background: var(--nav-color);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 3;
}

.Publications {
  padding-top: 9vh !important;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-sidetext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-title a,
.nav-text a {
  color: #f5f5f5;
}

.nav-title a:hover,
.nav-text a:hover {
  cursor: pointer !important;
  text-decoration: none;
  color: #f5f5f5;
}

.nav-sidetext a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-sidetext a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: none;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
}

.nav-sidetext span {
  margin-left: 16px;
}

.nav-title {
  float: left;
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 30px;
}

.nav-text {
  width: 170px !important;
  text-align: right;
  padding: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.publication {
  outline: none !important;
  padding: 0px 15px 0px 15px;
  margin: 20px 0px 20px 0px;
}

.publication .publication-header-row .user-img img {
  border-radius: 50%;
  padding: 2px;
  width: 70px;
  height: 70px;
  background: var(--profile-border-color);
}

.publication .publication-header-row .user-img {
  margin: 0px 10px 0px 10px;
  padding: 0;
}

.publication .publication-header-row .user-name {
  margin: 0px 0px 0px 5px;
  text-align: center;
}

.publication .publication-header-row .user-name label {
  border-top: 2px solid var(--accent-line-color);
  font-weight: 600;
  font-size: x-large;
  margin: 0px;
}

.publication .publication-header-row .user-name small {
  color: #bdbdbd;
  margin: 0px;
}

.publication .publication-header-row .publication-date {
  text-align: right;
}

.publication .publication-header-row .publication-date label {
  color: #bdbdbd;
  font-size: 11px;
}

.publication .publication-header {
  border-bottom: 3px solid var(--accent-line-color) !important;
  margin: 0px 20px 10px 20px;
  background-color: transparent !important;
}

.publication .publication-body .publication-multimedia img,
.publication .publication-body .publication-multimedia video {
  width: 300px;
  height: 300px;
  border-radius: 10px !important;
  box-shadow: 0px 5px 10px black;
  cursor: pointer;
}

.publication .publication-body .publication-multimedia,
.publication .publication-body .publication-multimedia-alone {
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
}

.publication .publication-body .publication-multimedia {
  width: 300px;
  height: 300px;
}

.publication .publication-body .publication-multimedia-alone {
  width: 100%;
  height: 350px;
}

.publication .publication-body .publication-multimedia-alone svg {
  position: absolute;
  font-size: 100px;
  transform: translate(260%, 120%);
  color: var(--accent-line-color);
  filter: opacity(50%);
}

.publication .publication-body .publication-multimedia svg {
  position: absolute;
  font-size: 100px;
  transform: translate(100%, 100%);
  color: var(--accent-line-color);
  filter: opacity(50%);
}

.publication .publication-body .publication-multimedia-alone img,
.publication .publication-body .publication-multimedia-alone video {
  width: 100%;
  box-shadow: 0px 5px 10px black;
  cursor: pointer;
}


.publication .publication-body .publication-description-image {
  margin-right: 0;
  max-height: 300px;
  overflow-y: auto;
}

.publication .publication-footer {
  position: relative;
  border-top: 1px solid #bdbdbd;
  background: transparent !important;
  padding: 2px;
  font-size: 20px;
  margin-bottom: 0;
  height: 50px;
  align-items: center;
}

.publication .publication-footer-row {
  background-color: transparent;
  margin: 0 !important;
}

.publication .publication-footer-input {
  position: relative;
  background: transparent !important;

}

.publication .publication-footer-input input {
  position: absolute;
  background-color: transparent;
  width: 95%;
  height: 100%;
  outline: none;
  border: none;
}

.publication .publication-footer .publication-footer-sendbtns {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  height: 50px;
  width: 150px;
  padding-right: 0px;
  background-color: transparent;
  margin: 0px 0px 0px 0px;
}

.publication .publication-footer .publication-footer-sendbtns button {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  border: 0px;
  color: black;
  font-size: 20px;
  margin-right: 15px;
  border-radius: 0px !important;
}

.publication .publication-footer .publication-footer-sendbtns button:focus-within {
  box-shadow: none;
  color: green;
  transition: 1s;
}

.publication .publication-footer .publication-footer-sendbtns svg {
  background-color: transparent;
  padding: 0;
  margin: 0;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  color: black;
  font-size: 30px;
}

.publication .publication-footer .publication-footer-likes {
  background-color: transparent;
  text-align: right;
  padding: 0;
  margin: 0;
  bottom: 0;
}

.publication .publication-footer .publication-footer-likes label {
  margin: 0px 5px 0px 5px;
  font-weight: 400;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.publication .publication-footer .publication-footer-likes label svg {
  margin: 0px 5px 0px 5px
}

.publication .publication-footer .publication-footer-sendbtns svg:hover,
.publication .publication-footer .publication-footer-sendbtns button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .1s;
}

.publication .publication-footer .publication-footer-likes svg:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: .1s;
}

.publication .publication-header .user-img-placeholder {
  background: var(--placeholder-background);
  height: 50px;
  width: 50px;
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  border-radius: 50%;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

@keyframes anmBg {
  to {
    background-position: -200% 0;
  }
}

.publication .publication-header .user-name-placeholder {
  margin: 0px 0px 0px 5px;
  text-align: center;
}

.publication .publication-header .user-name-placeholder label {
  background: var(--placeholder-background);
  border-radius: 20px;
  width: 200px;
  height: 20px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.publication .publication-header .since-placeholder {
  background: var(--placeholder-background);
  border-radius: 20px;
  width: 100px !important;
  height: 15px !important;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.publication .publication-header .publication-date-placeholder label {
  background: var(--placeholder-background);
  width: 100px;
  height: 10px;
  border-radius: 20px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  -ms-transform: translateX(50%) !important;
  transform: translateX(50%) !important;
}

.publication .publication-body .publication-multimedia-placeholder {
  padding: 0;
  background: var(--placeholder-background);
  width: 298px;
  height: 298px;
  margin: 0;
  border-radius: 10px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.publication .publication-body .publication-description-image-placeholder {
  margin-right: 0;
  max-height: 300px;
  text-align: left;
  overflow-y: auto;
}

.publication .publication-body .publication-description-image-placeholder label {
  background: var(--placeholder-background);
  border-radius: 10px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  height: 25px;
}

.publication .publication-body .publication-description-image-placeholder-noImage label {
  background: var(--placeholder-background);
  border-radius: 10px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  width: 580px !important;
  height: 25px;
}

.publication .publication-footer .publication-footer-sendbtns-placeholder {
  color: #bababa;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  height: 50px;
  width: 150px;
  padding-right: 0px;
  background-color: transparent;
  margin: 0px !important;
}

.publication .publication-footer .publication-footer-sendbtns-placeholder button {
  background-color: transparent;
  padding: 0;
  cursor: auto;
  font-weight: 700;
  border: 0px;
  color: #bababa;
  font-size: 20px;
  margin-right: 15px;
  border-radius: 0px !important;
}

.publication .publication-footer .publication-footer-sendbtns-placeholder svg {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  color: #bababa;
  font-size: 30px;
}

.publication .publication-footer .publication-footer-sendbtns-placeholder button:focus-within {
  box-shadow: none;
}

.publication .publication-footer .publication-footer-likes-placeholder {
  background-color: transparent;
  text-align: right;
  padding: 0;
  margin: 0;
  bottom: 0;
  transform: translateY(-160%);
}

.publication .publication-footer .publication-footer-likes-placeholder label {
  margin: 0px 5px 0px 5px;
  font-weight: 400;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.publication .publication-footer .publication-footer-likes-placeholder label svg {
  margin: 0px 5px 0px 5px;
  color: #bababa;
}

.home-side-bar {
  position: fixed;
  margin-top: 6vh;
  width: 300px !important;
  height: 80vh;
  margin-right: 50% !important;
  border-right: 3px solid var(--accent-line-color);
  align-items: center;
  overflow-y: auto;
  transition: 0.3s;
  overflow-x: hidden;
}

.home-side-bar-up {
  transform: translateY(-8vh);
  box-shadow: none;
  transition: 0.3s;

}

.home-side-bar .title {
  font-weight: 600;
  width: auto;
  text-align: center;
  font-size: 30px;
  margin: auto;
}

.home-side-bar .friends-actives-info {
  margin-top: 5px
}

.bottom-line {
  text-align: center;
  height: 2px;
  width: 250px;
  margin: auto;
  border-bottom: 2px solid #cfcfcf;
}

.home-side-bar .title .bottom-line-title {
  text-align: center;
  height: 4px;
  width: 300px;
  margin: auto;
  margin-bottom: 5px;
  border-bottom: 2px solid #8d8d8d;
}

.home-side-bar .friends-actives-info .profile-pic-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.home-side-bar .friends-actives-info .profile-info-placeholder .name {
  margin: 10px 0px 0px 0px;
  width: 170px;
  height: 20px;
  border-radius: 20px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.home-side-bar .friends-actives-info .profile-info-placeholder .status {
  margin-top: 5px;
  width: 100px;
  height: 10px;
  border-radius: 20px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.home-side-bar .friends-actives-info .profile-info-placeholder .action-buttons-placeholder {
  float: right;
  -ms-transform: translateX(150%);
  transform: translateX(150%);
}

.home-side-bar .friends-actives-info .profile-info-placeholder .action-buttons-placeholder svg {
  margin: 0px 3px 0px 3px;
  color: #bababa;
}

.featured-publication {

  border: 1px solid #bababa;
  border-radius: 10px;

  margin: 20px 0px 20px 0px;
}

.home-side-bar .featured .featured-image-placeholder {
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  -ms-transform: translateX(37%);
  transform: translateX(37%);
  width: 150px;
  height: 150px;
}

.home-side-bar .featured .featured-profile-pic-image-placeholder {
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  margin: 10px 0px 10px 10px;
  animation-iteration-count: infinite;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.home-side-bar .featured .featured-name-placeholder .name {
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  margin: 0px 0px 10px 10px;
  animation-iteration-count: infinite;
  border-radius: 20px;
  margin-top: 12px;
  width: 130px;
  height: 25px;
}

.home-side-bar .featured .featured-name-placeholder label svg {
  position: absolute;
  margin-top: 12px;
  font-size: 30px;
  -ms-transform: translateX(37%) !important;
  transform: translateX(100%) !important;
}

.home-side-bar .featured .featured-image img {
  border-radius: 10%;
  margin-top: 5px;
  margin-bottom: 10px;
  -ms-transform: translateX(30%);
  transform: translateX(30%);
  max-width: 150px;
  max-height: 150px;
}

.home-side-bar .featured .featured-image label {
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
  -ms-transform: translateX(30%);
  transform: translateX(7%);
  max-width: 230px;
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 128px;
  /* fallback */
  -webkit-line-clamp: 6;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.home-side-bar .featured .featured-profile-pic-image img {
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.home-side-bar .featured .featured-name {
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}

.home-side-bar .featured .featured-likes {
  text-align: right;
}

.home-side-bar .featured .featured-likes label svg {
  margin-right: 5px;

}

.home-side-bar .friends-actives-info .profile-pic img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.home-side-bar .friends-actives-info .profile-info {
  display: inline-block;
  margin-left: 10px;
}

.home-side-bar .friends-actives-info .profile-info .name {
  width: 130px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 0px;
}

.home-side-bar .friends-actives-info .profile-info .status {
  text-align: right;
  font-size: 12px;
}

.home-side-bar .friends-actives-info .profile-info .action-buttons {
  float: right;
  -ms-transform: translateX(110%);
  transform: translateX(110%);
}

.home-side-bar .friends-actives-info .profile-info .action-buttons svg {
  cursor: pointer;
  margin: 0px 6px 0px 6px;
}

.home-side-bar .friends-actives-info .profile-info .action-buttons svg:hover {
  transform: scale(1.2);
  transition: .1;
}

.search-bar {
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  padding: 10px;
  margin: 10px !important;
  border-bottom: 2px solid var(--accent-line-color);
}

.search-bar img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.search-bar button {
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  outline: none;
  border: 0px;
  background-color: #c9c9c9;
  border-radius: 50px;
  text-align: left;
  width: 110%;
  padding: 10px 0px 10px 10px;
  border-bottom: 2px solid var(--accent-line-color);
}

.search-bar button:focus {
  box-shadow: none;
  color: black;
  background-color: #b3b3b3;
}

.search-bar button:hover {
  background: #b3b3b3;
  color: black;
}

.modal-publication-form {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .8);
}

.modal-publication-form .modal-content-publication {
  background-color: #fefefe;
  padding: 0px;
  width: 50%;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.close-publication-modal,
.close-modal-profile-pic {
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-publication-form .modal-content-publication .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.modal-publication-form .modal-content-publication .body {
  max-height: 70vh;
  padding: 10;
}

.modal-publication-form .modal-content-publication .body .content-input textarea {
  width: 100%;
  height: 113px;
  margin: 0;
  resize: none;
  border: none;
  font-size: 20px;
  margin-bottom: 0px;
}

.modal-publication-form .modal-content-publication .body .content-input textarea:focus {
  outline: none;
}

.modal-publication-form .modal-content-publication .body .image-upload #file-input {
  display: none;
  margin-top: 0px;
}

.modal-publication-form .modal-content-publication .body .image-upload svg {
  font-size: 50px;
  cursor: pointer;
  color: rgb(28, 28, 31);
}

.modal-publication-form .modal-content-publication .body .image-upload svg:hover {
  transform: scale(1.2);
  transition: .2s;
}

.modal-publication-form .modal-content-publication .body .bottom-line-modal {
  border-bottom: 1px solid #bababa;
  width: 100%;
}

.modal-publication-form .modal-content-publication .body .submit-publication {
  background: #bbbbbb;
  padding: 5px;
  border-radius: 20px;
  float: right;
  font-size: 25px;
  border: none;
  margin-bottom: 0;
}

.modal-publication-form .modal-content-publication .body .submit-publication:hover {
  transition: .2s;
  transform: scale(1.1);
}

.modal-publication-form .modal-content-publication .body .publication-multimedia-modal {
  max-height: 40vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30%, 30%));
  grid-template-rows: repeat(auto-fit, 100%);
  grid-gap: 5px;
  overflow: auto;
}

.modal-publication-form .modal-content-publication .body .publication-multimedia-modal img,
.modal-publication-form .modal-content-publication .body .publication-multimedia-modal video {
  max-width: 97%;
  max-height: 97%;
  border-radius: 10px;
  filter: brightness(100%);
  margin: 5px;
}

/*.modal-publication-form .modal-content-publication .body .publication-multimedia-modal img:hover {
  transition: .5s;
  filter: brightness(40%);
  transform: scale(1.05);
}*/

.modal-publication-form .modal-content-publication .body .publication-multimedia-modal .delete-multimedia {
  width: 20px;
  height: 20px;
  font-size: 15px;
  margin-bottom: auto;
  border: none;
  background: red;
  border-radius: 50%;
  padding: 0px;
  z-index: 40;
}

.modal-publication-form .modal-content-publication .body .publication-multimedia-modal .delete-multimedia:hover {
  background: rgb(80, 7, 7);
  color: white;
  transition: .2s;
}

.session-container {
  border-radius: 3px;
  padding: 20px;
  position: absolute;
  top: 10vh !important;
  left: 50% !important;
  margin-left: -30vw !important;
  width: 60vw !important;
  height: auto;
  border-radius: 20px;
}

.session-container .title {
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 4px;
}

.vertical-line {
  position: absolute;
  top: 50%;
  margin-top: -15% !important;
  left: 43%;
  width: 1px !important;
  transform: scaleX(.05);
  height: 75% !important;
  background-color: rgb(247, 39, 84);
}

.session-container .create-account-forms input[type=text],
.session-container .create-account-forms input[type=password],
.session-container .init-session-forms input[type=text],
.session-container .init-session-forms input[type=password] {
  width: 70%;
  border: none;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: #cfcfcf;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid var(--accent-line-color);
}

.session-container .create-account-forms input:focus,
.session-container .init-session-forms input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #afafaf;
  transition: .2s;
  border: 1px solid var(--darker-accent-line-color);
  border-bottom: 2px solid var(--darker-accent-line-color);
}

.session-container .create-account-forms label,
.session-container .init-session-forms label {
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 0px !important;
}

.session-container .create-account-forms .profile-pic {
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 50%;
  background: var(--profile-border-color);
}

.session-container .create-account-forms .profile-pic img {
  border-radius: 50%;
  width: 150px !important;
  height: 150px !important;
}

.session-container .create-account-forms .second-Row label {
  margin-bottom: 10px !important;
}

.session-container .create-account-forms .second-Row .image {
  margin-bottom: 15px !important;
}

.session-container .create-account-forms .second-Row label svg {
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
}

.session-container .create-account-forms .second-Row .pais label {
  width: 100%;
}

.session-container .create-account-forms .second-Row .pais select {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: #cfcfcf;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid var(--accent-line-color);
}

.session-container .create-account-forms .second-Row label svg:hover {
  transform: scale(1.2);
  transition: .2s;
}

.session-container .create-account-forms input[type=file] {
  display: none;
}

.session-container .create-account-forms .second-Row .voicechat {
  display: flex;
}

.session-container .create-account-forms .second-Row .voicechat label {
  width: 80%;
}

.session-container .create-account-forms .second-Row .voicechat label {
  width: 80%;
}

.session-container .create-account-forms .second-Row .voicechat input {
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.session-container .create-account-forms .second-Row .voicechat input:checked {
  background: var(--nav-color);
  transition: .2;
  background-color: #cfcfcf;
}

.session-container .create-account-forms .second-Row .pais-y-voice {
  margin-bottom: 20px;
}

.session-container .create-account-forms .second-Row input[type=submit] {
  background: var(--nav-color);
  color: white;
  letter-spacing: 20px;
  font-size: 20px;
}

.session-container .create-account-forms .second-Row input[type=submit]:hover {
  background: var(--darker-nav-color);
  transform: scale(1.1);
  transition: .2s;
}

.session-container .create-account-forms .second-Row .label-inicio {
  text-align: center;
}

.session-container .create-account-forms .second-Row .label-inicio .to-init-session,
.session-container .init-session-forms .label-inicio .to-create-account {
  text-decoration: none !important;
  color: #747474;
  font-weight: 700;
}

.session-container .create-account-forms .second-Row .label-inicio label,
.session-container .init-session-forms .label-inicio label {
  margin-top: 10px;
  color: #747474 !important;
}

.session-container .create-account-forms .second-Row .label-inicio label u:hover,
.session-container .init-session-forms .label-inicio label u:hover {
  font-weight: 900;
  cursor: pointer;
  transition: .2s;
}

.modal-profile-pic .modal-content-profile-pic .to-crop-col,
.modal-profile-pic .modal-content-profile-pic .cropped-col {
  text-align: center;
}

.modal-profile-pic .modal-content-profile-pic .cropped-col img {
  margin-bottom: 10px;
  height: 300px;
  width: 300px;
}


.modal-profile-pic .modal-content-profile-pic .to-crop-col img {
  height: 300px;
}

.modal-profile-pic .modal-content-profile-pic button {
  margin-top: 5px;
  background: var(--nav-color);
}

.modal-profile-pic .modal-content-profile-pic button:hover {
  margin-top: 5px;
  background: var(--darker-nav-color);
}

.modal-profile-pic .modal-content-profile-pic button:focus {
  box-shadow: none;
}

.modal-profile-pic {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 150% !important;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .8);
}

.modal-profile-pic .modal-content-profile-pic {
  background-color: #fefefe;
  padding: 0px;
  width: 70%;
  height: 50%;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.session-container .init-session-forms {
  width: 50%;
  transform: translateX(50%);
}

.session-container .init-session-forms .init-session-btn,
.session-container .init-session-forms .label-inicio {
  text-align: center;
  margin: 10px;
}

.session-container .init-session-forms input[type=text],
.session-container .init-session-forms input[type=password] {
  width: 100%;
  margin: 10px;
}

.session-container .init-session-forms .init-session-btn button {
  background: var(--nav-color);
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 10px;
}

.session-container .init-session-forms .init-session-btn button:hover {
  transform: scale(1.1);
  transition: .2s;
}

.about-us-start {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: #9696b8;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.about-us-start .brand-name {
  text-align: center;
  display: inline-block;
}

.about-us-start .brand-name .title {
  font-size: 160px;
  color: white;
  font-weight: 600;
  transition: .5s;
}

.about-us-start .brand-name .title {
  font-size: 160px;
  color: white;
  font-weight: 600;
  transition: .5s;
}


.back-video {
  position: absolute;
  width: 100%;
  right: 0;
  top: 60px;
  bottom: 0;
  z-index: -1;
  filter: brightness(20%);
}

.about-us-start .brand-name .start a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.about-us-start .brand-name .start a:hover {
  transform: scale(1.2);
  transition: .2s;
}

.profile {
  position: absolute;
  top: 60px;
}

.profile .cover-image-placeholder {
  text-align: center;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  margin-left: 15%;
  width: 70%;
  height: 350px;
}

.profile .profile-pic-placecolder {
  position: relative;
  margin: auto;
  margin-bottom: 0px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  width: 120px;
  border: 3px solid var(--accent-line-color);
  height: 120px;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.profile .bottom-line-profile {
  background-color: var(--accent-line-color);
  left: 20%;
  position: absolute;
  width: 60%;
  transform: translateY(-.5vh);
  height: 6px !important;
}

.profile .profile-content-placeholder {
  margin: -80px 180px;
  padding: 10px;
}

.profile .profile-content-placeholder .name {
  max-width: 100% !important;
  width: 100% !important;
  margin-bottom: 10px
}

.profile .profile-content-placeholder .name label {
  width: 30% !important;
  height: 500% !important;
  border-radius: 20px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.profile .profile-content-placeholder .description {
  margin-top: 40px;
  max-width: 100% !important;
  width: 100% !important;
}

.profile .profile-content-placeholder .description label {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.end-header-line {
  position: relative;
  margin-top: 150px;
  transform: scaleY(.5) !important;
  width: 70% !important;
  left: 15% !important;
}

.profile .option-bar {
  width: 70%;
  left: 15%;
  position: relative;
  display: flex;
  flex: 3 50px;
  flex-direction: row;
  margin-top: 170px;
  padding: 0mm;
}

.profile .option-bar svg {
  position: relative;
  flex: 1 50px;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  cursor: pointer;
  background: white;
  border: 1px solid #bababa;
  width: fit-content !important;
}

.profile .option-bar svg:hover {
  transform: scale(1.2);
  transition: .2s;
  z-index: 1;
}

.profile .profile-data {
  width: 65% !important;
  margin: auto;
  margin-bottom: 50px;
}

.profile .publication {
  width: 75%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile .profile-data .plays-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px !important;
  grid-auto-rows: minmax(100px, auto);
}

.profile .profile-data .plays-container .play {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  filter: brightness(50%);
  cursor: pointer;
}

.profile .profile-data .plays-container .play-placeholder {
  position: relative;
  width: 100%;
  height: 150px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  border: 1px solid var(--accent-line-color);
}

.profile .profile-data .plays-container .play img {
  position: absolute;
  width: 15%;
  height: 15%;
  left: 0;
  margin: 10px;
}

.profile .profile-data .plays-container .play:hover {
  transform: scale(1.2);
  z-index: 2;
  transition: .2s;
  border-radius: 10px;
  filter: brightness(100%);
  border: 2px solid var(--accent-line-color);
}

.profile .profile-data .games-container,
.profile .profile-data .friends-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px !important;
  grid-auto-rows: minmax(0px, auto);
}

.profile .profile-data .games-container .game-img img {
  width: 100px;
  height: 100px;
  transform: translateY(25%);
}

.profile .profile-data .games-container .game,
.profile .profile-data .friends-container .friend {
  background-color: #dadada;
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
}

.profile .profile-data .games-container .game .title-placeholder,
.profile .profile-data .friends-container .friend .name-placeholder {
  width: 250px;
  height: 30px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  margin-left: 50px;
  border-radius: 20px;
}

.profile .profile-data .games-container .game .game-img-placeholder,
.profile .profile-data .friends-container .friend .friend-img .friend-img-placeholder {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform: translateY(10%);
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;

}

.profile .profile-data .games-container .game .rango-placeholder {
  margin-left: 50px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px !important;
  grid-auto-rows: minmax(10px, auto);
}

.profile .profile-data .games-container .game .rango-placeholder .rango {
  width: 100%;
  margin: auto;
  left: 0px;
  transform: translateX(-20%);
  justify-content: center;
  align-items: center;
}

.profile .profile-data .games-container .game .rango-placeholder label {
  width: 100%;
  height: 15px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  border-radius: 20px;
  margin: 0%;
  padding: 0px;
}

.profile .profile-data .games-container .game .rango-placeholder .ranked-img-placeholder {
  width: 90px;
  height: 90px;
  padding: 0px;
  margin: 0px;
}

.profile .profile-data .games-container .game .rango-placeholder img {
  width: 100px;
  padding: 0px;
  margin: 0px;
}


.profile .profile-data .friends-container .friend .profile-placeholder label {
  width: 80%;
  height: 15px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  border-radius: 20px;
  margin: 5px;
  margin-bottom: 1px;
  margin-left: 50px;
  padding: 0px;
}

.profile .profile-data .friends-container .friend .action-buttons-placeholder {
  width: 30%;
  margin-left: 70%;
  margin-top: 20px;
}

.profile .profile-data .friends-container .friend .action-buttons-placeholder svg {
  font-size: 25px;
  color: #616161;
}

.error {
  display: none;
  text-align: center;
}

.error label {
  color: red;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
  font-size: large !important;
}

.bounce {
  outline: none;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }

  37% {
    transform: translateX(10px);
    timing-function: ease-out;
  }

  55% {
    transform: translateX(-10px);
    timing-function: ease-in;
  }

  73% {
    transform: translateX(8px);
    timing-function: ease-out;
  }

  82% {
    transform: translateX(-8px);
    timing-function: ease-in;
  }

  91% {
    transform: translateX(5px);
    timing-function: ease-out;
  }

  96% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }

  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

.loading-modal {
  display: block;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .8);
}

.loading-modal svg {
  color: white;
  font-size: 70px;
  margin: auto;
  animation-name: load;
  transform: translateY(300%);
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes load {
  0% {
    transform: translateY(300%) rotate(0deg);
  }

  12.4% {
    transform: translateY(300%) rotate(0deg);
  }

  12.5% {
    transform: translateY(300%) rotate(45deg);
  }


  24.9% {
    transform: translateY(300%) rotate(45deg);
  }

  25% {
    transform: translateY(300%) rotate(90deg);
  }


  37.4% {
    transform: translateY(300%) rotate(90deg);
  }

  37.5% {
    transform: translateY(300%) rotate(135deg);
  }


  49.9% {
    transform: translateY(300%) rotate(135deg);
  }

  50% {
    transform: translateY(300%) rotate(180deg);
  }


  62.4% {
    transform: translateY(300%) rotate(180deg);
  }

  62.5% {
    transform: translateY(300%) rotate(225deg);
  }


  74.9% {
    transform: translateY(300%) rotate(225deg);
  }

  75% {
    transform: translateY(300%) rotate(270deg);
  }


  87.4% {
    transform: translateY(300%) rotate(270deg);
  }

  87.5% {
    transform: translateY(300%) rotate(315deg);
  }


  99.9% {
    transform: translateY(300%) rotate(315deg);
  }

  100% {
    transform: translateY(300%) rotate(360deg);
  }
}


.comments-modal {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .8);
}

.comments-modal .comment-modal-container {
  position: relative;
  background-color: #fefefe;
  padding: 0px;
  width: 60vw;
  height: 70vh;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.comments-modal .comment-modal-container .body {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.comments-modal .comment-modal-container .header {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.comments-modal .comment-modal-container .header svg {
  float: right;
  cursor: pointer;
}

.comments-modal .comment-modal-container .comment-container {
  max-height: 300px;
  overflow: hidden;
  margin: 10px 20px;
}

.comments-modal .comment-modal-container .comment-container .comment {
  position: relative;
  padding: 10px;
}

.comments-modal .comment-modal-container .comment-container .info .profile-pic img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 2px;
  background: var(--profile-border-color);
}

.comments-modal .comment-modal-container .comment-container .info {
  border-bottom: 2px solid var(--accent-line-color);
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 95%;
  align-items: center;
}

.comments-modal .comment-modal-container .comment-container .info .fecha {
  float: right;
  margin-right: -10%;
}

.comments-modal .comment-modal-container .comment-container .info label {
  font-size: 25px;
}

.comments-modal .comment-modal-container .comment-content label {
  margin-left: 20px;
  font-size: 18px;
}

.bottom-line-comments {
  width: 150%;
  margin-left: -20%;
  height: 1px;
  background: #bababa;
}

.comments-modal .comment-modal-container .comment-container .buttons {
  margin-left: 10px;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}

.comments-modal .comment-modal-container .comment-container .buttons label {
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.comments-modal .comment-modal-container .comment-container .buttons svg {
  cursor: pointer;
}

.comments-modal .comment-modal-container .comment-container .buttons svg:hover {
  transform: scale(1.3);
  transition: .2s;
}

.comment-placeholder .info .profile-pic-placeholder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 2px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.comment-placeholder .nombre label {
  width: 400px;
  height: 20px;
  border-radius: 20px;
  padding: 2px;
  transform: translateY(100%);
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;

}

.comment-placeholder .fecha label {
  width: 100px;
  height: 20px;
  border-radius: 20px;
  padding: 2px;
  transform: translateY(100%);
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;

}

.comment-placeholder .comment-content-placeholder label {
  width: 99%;
  height: 20px;
  border-radius: 20px;
  padding: 2px;
  margin-left: 20px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.comments-modal .comment-modal-container .no-comments {
  margin: auto;
  width: 100%;
  height: 55.5vh !important;
  text-align: center;
}

.comments-modal .comment-modal-container .no-comments label {
  font-size: 40px;
  color: #979797;
  margin: auto;
  margin-top: 20%;
}


.profile .cover-image {
  text-align: center;
  margin-left: 15%;
  width: 70%;
  height: 350px;
  overflow: hidden;
}

.profile .cover-image img {
  padding: 0px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.profile .profile-pic {
  position: relative;
  margin: auto;
  margin-bottom: 0px;
  width: 120px;
  border: 3px solid var(--accent-line-color);
  height: 120px;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(-50%);
  overflow: hidden;
}

.profile .profile-content {
  margin: -80px 190px;
  padding: 10px;
  width: 70%;
}

.profile .profile-pic img {
  width: 100%;
  height: 100%;
  padding: 0;
}

.profile .profile-content .header {
  width: 100% !important;
  margin-bottom: 5px;
  margin-top: -20px;
}

.profile .profile-content .header .name-options {
  width: 50%;
  margin-bottom: 5px;
  margin-top: -20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile .profile-content .header .options svg {
  color: black;
  font-size: 30px;
}

.profile .profile-content .header .options {
  box-shadow: none;
  background: transparent;
}

.profile .profile-content .header .options .toggle {
  box-shadow: none;
  outline: none;
  border: none;
  background: transparent;
  margin-left: -40px;
}


.profile .profile-content .info {
  width: 45%;
  margin-bottom: 5px;
  margin-top: -20px;
  margin-left: 80% !important;

}

.profile .profile-content .header label {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.profile .profile-content .header label .age {
  font-size: 20px;
  margin-left: 4%;
}

.profile .profile-content .header label .country {
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.profile .profile-content .header label .country img {
  transform: scale(1.5);
  margin-left: 20px;
}

.profile .profile-content .header label .message {
  font-size: 40px;
  cursor: pointer;
}

.profile .profile-content .header label .message:hover {
  transform: scale(1.2);
  transition: .2s;
}

.profile .profile-content .description {
  margin-top: 40px;
  max-width: 100% !important;
  width: 100% !important;
}

.profile .profile-content .description label {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 0px;
}

.profile .bottom-line-profile-true {
  position: absolute;
  background-color: var(--accent-line-color);
  left: 20%;
  width: 60%;
  height: 6px !important;
  transform: translateY(1500%);
  margin-bottom: 0px;
}

.src-Modal {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .8);
}

.src-Modal .src-container {
  max-width: 90vw;
  max-height: 80vh;
  overflow: hidden;
  text-align: center;
  margin: auto !important;
  background-color: transparent;
  z-index: 3;
}

.src-Modal .src-container img,
.src-Modal .src-container video {
  max-width: 90vw;
  max-height: 80vh;
  min-width: 30vw;
  border-radius: 10px;
  z-index: 4;
}

.src-Modal svg {
  position: absolute;
  font-size: 40px;
  color: var(--accent-line-color);
  filter: opacity(50%);
  margin: 10px;
  z-index: 5;
  cursor: pointer !important;
}

.src-Modal svg:hover {
  filter: opacity(100%);
  transform: scale(1.2);
  transition: .2s;
}

.activeButton {
  color: var(--accent-line-color);
}