@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #fafafa !important;
}

:root {
  --accent-line-color: blueviolet;
  --placeholder-background: linear-gradient(90deg, rgb(116, 116, 116) 0%, rgb(116, 116, 116) 10%, rgb(170, 170, 170) 50%, rgb(116, 116, 116) 90%, rgb(116, 116, 116) 100%);
  --nav-color: linear-gradient(-135deg, #ff8a00, #da1b60);
  --profile-border-color: linear-gradient(135deg, #05c9cf 0%, hsl(46, 100%, 62%) 50%, hsl(328, 38%, 37%) 100%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff8a00, #da1b60);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #db7602, #aa164c);
}

.navbar {
  position: fixed !important;
  height: 60px;
  width: 101%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #ff8a00, #da1b60);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  z-index: 2;
  margin-bottom: 40p;
}

.navbar-hidden {
  transform: translateY(-100%);
  box-shadow: none;
  transition: 0.3s;
}

.menu-bars {
  font-size: 2rem;
  text-align: center;
}

.menu-bars.mainMenu div svg {
  padding: 6px 10px 6px 10px;
  border-radius: 50%;
}

.menu-bars.mainMenu div svg:hover {
  cursor: pointer;
  background: #14224d63;
  transition: .2s;
}

.nav-menu {
  background: var(--nav-color);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 3;
}

.Publications {
  padding-top: 9vh !important;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-sidetext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-title a,
.nav-text a {
  color: #f5f5f5;
}

.nav-title a:hover,
.nav-text a:hover {
  cursor: pointer !important;
  text-decoration: none;
  color: #f5f5f5;
}

.nav-sidetext a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-sidetext a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: none;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
}

.nav-sidetext span {
  margin-left: 16px;
}

.nav-title {
  float: left;
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 30px;
}

.nav-text {
  width: 170px !important;
  text-align: right;
  padding: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.publication {
  outline: none !important;
  padding: 0px 15px 0px 15px;
  margin: 20px 0px 20px 0px;
}

.publication .publication-header-row .user-img img {
  border-radius: 50%;
  padding: 2px;
  width: 70px;
  height: 70px;
  background: var(--profile-border-color);
}

.publication .publication-header-row .user-img {
  margin: 0px 10px 0px 10px;
  padding: 0;
}

.publication .publication-header-row .user-name {
  margin: 0px 0px 0px 5px;
  text-align: center;
}

.publication .publication-header-row .user-name label {
  border-top: 2px solid var(--accent-line-color);
  font-weight: 600;
  font-size: x-large;
  margin: 0px;
}

.publication .publication-header-row .user-name small {
  color: #bdbdbd;
  margin: 0px;
}

.publication .publication-header-row .publication-date {
  text-align: right;
}

.publication .publication-header-row .publication-date label {
  color: #bdbdbd;
  font-size: 11px;
}

.publication .publication-header {
  border-bottom: 3px solid var(--accent-line-color) !important;
  margin: 0px 20px 10px 20px;
  background-color: transparent !important;
}

.publication .publication-body .publication-multimedia img {
  width: 300px;
  height: 300px;
  border-radius: 10px !important;
  box-shadow: 0px 5px 10px black;

}

.publication .publication-body .publication-multimedia {
  padding: 0;
}

.publication .publication-body .publication-description-image {
  margin-right: 0;
  max-height: 300px;
  overflow-y: auto;
}

.publication .publication-footer {
  position: relative;
  border-top: 1px solid #bdbdbd;
  background: transparent !important;
  padding: 2px;
  font-size: 20px;
  margin-bottom: 0;
  height: 50px;
  align-items: center;
}

.publication .publication-footer-row {
  background-color: transparent;
  margin: 0 !important;
}

.publication .publication-footer-input {
  position: relative;
  background: transparent !important;

}

.publication .publication-footer-input input {
  position: absolute;
  background-color: transparent;
  width: 95%;
  height: 100%;
  outline: none;
  border: none;
}

.publication .publication-footer .publication-footer-sendbtns {
  padding: 0;
  height: 50px;
  width: 95px;
  padding-right: 0px;
  background-color: transparent;
  margin: 0px 0px 0px 0px;
}

.publication .publication-footer .publication-footer-sendbtns button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-weight: 700;
  border: 0px;
  color: black;
  font-size: 20px;
  margin-right: 15px;
  border-radius: 0px !important;
}

.publication .publication-footer .publication-footer-sendbtns button:focus-within {
  box-shadow: none;
  color: green;
  transition: 1s;
}

.publication .publication-footer .publication-footer-sendbtns svg {
  background-color: transparent;
  padding: 0;
  margin: 0;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  color: black;
  font-size: 30px;
}

.publication .publication-footer .publication-footer-likes {
  background-color: transparent;
  text-align: right;
  padding: 0;
  margin: 0;
  bottom: 0;
  -ms-transform: translateY(40%);
  transform: translateX(40%);
}

.publication .publication-footer .publication-footer-likes label {
  margin: 0px 5px 0px 5px;
  font-weight: 400;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.publication .publication-footer .publication-footer-likes label svg {
  margin: 0px 5px 0px 5px
}

.publication .publication-footer .publication-footer-sendbtns svg:hover,
.publication .publication-footer .publication-footer-sendbtns button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .1s;
}

.publication .publication-footer .publication-footer-likes svg:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: .1s;
}

.publication .publication-header .user-img-placeholder {
  background: var(--placeholder-background);
  height: 50px;
  width: 50px;
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  border-radius: 50%;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

@keyframes anmBg {
  to {
    background-position: -200% 0;
  }
}

.publication .publication-header .user-name-placeholder {
  margin: 0px 0px 0px 5px;
  text-align: center;
}

.publication .publication-header .user-name-placeholder label {
  background: var(--placeholder-background);
  border-radius: 20px;
  width: 200px;
  height: 20px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.publication .publication-header .since-placeholder {
  background: var(--placeholder-background);
  border-radius: 20px;
  width: 100px !important;
  height: 15px !important;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.publication .publication-header .publication-date-placeholder label {
  background: var(--placeholder-background);
  width: 100px;
  height: 10px;
  border-radius: 20px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  -ms-transform: translateX(50%) !important;
  transform: translateX(50%) !important;
}

.publication .publication-body .publication-multimedia-placeholder {
  padding: 0;
  background: var(--placeholder-background);
  width: 298px;
  height: 298px;
  margin: 0;
  border-radius: 10px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.publication .publication-body .publication-description-image-placeholder {
  margin-right: 0;
  max-height: 300px;
  text-align: left;
  overflow-y: auto;
}

.publication .publication-body .publication-description-image-placeholder label {
  background: var(--placeholder-background);
  border-radius: 10px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  height: 25px;
}

.publication .publication-body .publication-description-image-placeholder-noImage label {
  background: var(--placeholder-background);
  border-radius: 10px;
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  width: 580px !important;
  height: 25px;
}

.publication .publication-footer .publication-footer-sendbtns-placeholder {
  color: #bababa;
  padding: 0;
  height: 50px;
  width: 95px;
  padding-right: 0px;
  background-color: transparent;
  margin: 0px 0px 0px 0px;
}

.publication .publication-footer .publication-footer-sendbtns-placeholder button {
  background-color: transparent;
  padding: 0;
  cursor: auto;
  font-weight: 700;
  border: 0px;
  color: #bababa;
  font-size: 20px;
  margin-right: 15px;
  border-radius: 0px !important;
}

.publication .publication-footer .publication-footer-sendbtns-placeholder svg {
  background-color: transparent;
  padding: 0;
  margin: 0;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  color: #bababa;
  font-size: 30px;
}

.publication .publication-footer .publication-footer-sendbtns-placeholder button:focus-within {
  box-shadow: none;
}

.publication .publication-footer .publication-footer-likes-placeholder {
  background-color: transparent;
  text-align: right;
  padding: 0;
  margin: 0;
  bottom: 0;
  -ms-transform: translateY(40%);
  transform: translateX(40%);
}

.publication .publication-footer .publication-footer-likes-placeholder label {
  margin: 0px 5px 0px 5px;
  font-weight: 400;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.publication .publication-footer .publication-footer-likes-placeholder label svg {
  margin: 0px 5px 0px 5px;
  color: #bababa;
}

.home-side-bar {
  position: fixed;
  margin-top: 6vh;
  width: 300px !important;
  height: 80vh;
  margin-right: 50% !important;
  border-right: 3px solid var(--accent-line-color);
  align-items: center;
  overflow-y: auto;
  transition: 0.3s;
  overflow-x: hidden;
}

.home-side-bar-up {
  transform: translateY(-8vh);
  box-shadow: none;
  transition: 0.3s;

}

.home-side-bar .title {
  font-weight: 600;
  width: auto;
  text-align: center;
  font-size: 30px;
  margin: auto;
}

.home-side-bar .friends-actives-info {
  margin-top: 5px
}

.bottom-line {
  text-align: center;
  height: 2px;
  width: 250px;
  margin: auto;
  border-bottom: 2px solid #cfcfcf;
}

.home-side-bar .title .bottom-line-title {
  text-align: center;
  height: 4px;
  width: 300px;
  margin: auto;
  margin-bottom: 5px;
  border-bottom: 2px solid #8d8d8d;
}

.home-side-bar .friends-actives-info .profile-pic-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.home-side-bar .friends-actives-info .profile-info-placeholder .name {
  margin: 10px 0px 0px 0px;
  width: 170px;
  height: 20px;
  border-radius: 20px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.home-side-bar .friends-actives-info .profile-info-placeholder .status {
  margin-top: 5px;
  width: 100px;
  height: 10px;
  border-radius: 20px;
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
}

.home-side-bar .friends-actives-info .profile-info-placeholder .action-buttons-placeholder {
  float: right;
  -ms-transform: translateX(150%);
  transform: translateX(150%);
}

.home-side-bar .friends-actives-info .profile-info-placeholder .action-buttons-placeholder svg {
  margin: 0px 3px 0px 3px;
  color: #bababa;
}

.featured-publication {

  border: 1px solid #bababa;
  border-radius: 10px;

  margin: 20px 0px 20px 0px;
}

.home-side-bar .featured .featured-image-placeholder {
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  animation-iteration-count: infinite;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  -ms-transform: translateX(37%);
  transform: translateX(37%);
  width: 150px;
  height: 150px;
}

.home-side-bar .featured .featured-profile-pic-image-placeholder {
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  margin: 10px 0px 10px 10px;
  animation-iteration-count: infinite;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.home-side-bar .featured .featured-name-placeholder .name {
  background: var(--placeholder-background);
  background-size: 200% 100%;
  animation: anmBg 3s linear 3;
  margin: 0px 0px 10px 10px;
  animation-iteration-count: infinite;
  border-radius: 20px;
  margin-top: 12px;
  width: 130px;
  height: 25px;
}

.home-side-bar .featured .featured-name-placeholder label svg {
  position: absolute;
  margin-top: 12px;
  font-size: 30px;
  -ms-transform: translateX(37%) !important;
  transform: translateX(100%) !important;
}

.home-side-bar .featured .featured-image img {
  border-radius: 10%;
  margin-top: 5px;
  margin-bottom: 10px;
  -ms-transform: translateX(30%);
  transform: translateX(30%);
  max-width: 150px;
  max-height: 150px;
}

.home-side-bar .featured .featured-image label {
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
  -ms-transform: translateX(30%);
  transform: translateX(7%);
  max-width: 230px;
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 128px;
  /* fallback */
  -webkit-line-clamp: 6;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.home-side-bar .featured .featured-profile-pic-image img {
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.home-side-bar .featured .featured-name {
  text-align: right;
  font-weight: 600;
  font-size: 20px;
}

.home-side-bar .featured .featured-likes {
  text-align: right;
}

.home-side-bar .featured .featured-likes label svg {
  margin-right: 5px;

}

.home-side-bar .friends-actives-info .profile-pic img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.home-side-bar .friends-actives-info .profile-info {
  display: inline-block;
  margin-left: 10px;
}

.home-side-bar .friends-actives-info .profile-info .name {
  width: 130px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 0px;
}

.home-side-bar .friends-actives-info .profile-info .status {
  text-align: right;
  font-size: 12px;
}

.home-side-bar .friends-actives-info .profile-info .action-buttons {
  float: right;
  -ms-transform: translateX(110%);
  transform: translateX(110%);
}

.home-side-bar .friends-actives-info .profile-info .action-buttons svg {
  cursor: pointer;
  margin: 0px 6px 0px 6px;
}

.home-side-bar .friends-actives-info .profile-info .action-buttons svg:hover {
  transform: scale(1.2);
  transition: .1;
}

.search-bar {
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  padding: 10px;
  margin: 10px !important;
  border-bottom: 2px solid var(--accent-line-color);
}

.search-bar img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}

.search-bar button {
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  outline: none;
  border: 0px;
  background-color: #c9c9c9;
  border-radius: 50px;
  text-align: left;
  width: 110%;
  padding: 10px 0px 10px 10px;
  border-bottom: 2px solid var(--accent-line-color);
}

.search-bar button:focus {
  box-shadow: none;
  color: black;
  background-color: #b3b3b3;
}

.search-bar button:hover {
  background: #b3b3b3;
  color: black;
}

.modal-publication-form {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .8);
}

.modal-publication-form .modal-content-publication {
  background-color: #fefefe;
  padding: 0px;
  width: 50%;
  border-radius: 10px;
  overflow: auto;
  border: none;

}

.close-publication-modal {
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-publication-form .modal-content-publication .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.modal-publication-form .modal-content-publication .body {
  max-height: 70vh;
  overflow-x: hidden;
  padding: 10;
}

.modal-publication-form .modal-content-publication .body .content-input textarea {
  width: 100%;
  height: 100px;
  margin: 0;
  resize: vertical;
  border: none;
  font-size: 20px;
}

.modal-publication-form .modal-content-publication .body .content-input textarea:focus {
  outline: none;
}

.modal-publication-form .modal-content-publication .body .image-upload #file-input {
  display: none;
  margin-top: 0px;
}

.modal-publication-form .modal-content-publication .body .image-upload svg {
  font-size: 50px;
  cursor: pointer;
  color: rgb(28, 28, 31);
}

.modal-publication-form .modal-content-publication .body .image-upload svg:hover {
  transform: scale(1.2);
  transition: .2s;
}

.modal-publication-form .modal-content-publication .body .bottom-line-modal {
  border-bottom: 1px solid #bababa;
  width: 100%;
}

.modal-publication-form .modal-content-publication .body .submit-publication {
  background: #bbbbbb;
  padding: 5px;
  border-radius: 20px;
  float: right;
  font-size: 25px;
  border: none;
  margin-bottom: 0;
}

.modal-publication-form .modal-content-publication .body .submit-publication:hover {
  transition: .2s;
  transform: scale(1.1);
}


.modal-publication-form .modal-content-publication .body .publication-multimedia {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(45%, 33%));
  grid-template-rows: repeat(auto-fit, 40%);
  grid-auto-flow: dense;
  grid-gap: 5px;
  padding: 10px;
  margin-bottom: 50px;
}

.modal-publication-form .modal-content-publication .body .publication-multimedia img {
  max-width: 98%;
  max-height: 98%;
  border-radius: 10px;
  filter: brightness(100%);
  margin: 5px;
}

.modal-publication-form .modal-content-publication .body .publication-multimedia video {
  max-width: 98%;
  max-height: 98%;
  border-radius: 10px;
  filter: brightness(100%);
  margin: 5px;
  border: 2px solid black;
}

.modal-publication-form .modal-content-publication .body .publication-multimedia img:hover,
.modal-publication-form .modal-content-publication .body .publication-multimedia video:hover {
  transition: .5s;
  filter: brightness(40%);
  transform: scale(1.05);
}